<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Code:</strong>
  <%= @user.user_code %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
</div>