<% if !logged_in? %>
<% controller.redirect_to '/' %>
<% end %>

<div class="container">
    <div>
        <% personal_code = @current_user.codes.find_by(code_type: 'personal')%>
        <% personal_code = personal_code.present? ? personal_code : @current_user.codes.create(title: "Personal Code", code_type: "personal")%>
        <!-- Personal code: <%= personal_code.try(:code_value) %> -->
    </div>
    <br />
    <div>
        <% my_codes.each do |code| %>
        <%= code.title %> <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/codes/<%= code.id %>">❌</a><br />
        <%= code.code_value %>
        <br /><br />
        <% end %>
    </div>
    <div>
        <%= form_tag("/codes", method: "post") do %>
            <%= hidden_field_tag(:owner, current_user.id) %>

            Title
            <div class="field">
                <%= text_field_tag :title %>
            </div>

            <div class="actions">
                <%= submit_tag 'Create class' %>
            </div>
        <% end %>
    </div>
</div>