<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @code.owner %>
</p>

<p>
  <strong>Code value:</strong>
  <%= @code.code_value %>
</p>

<p>
  <strong>Title:</strong>
  <%= @code.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @code.code_id %>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
