<% code = Code.find_by(code_id: params[:instructor_code]) %>
<% user = code.try(:user) %>
<% instructor_name = user.try(:fname).capitalize %>

<script type="text/javascript">

  $(function() {
    showRecent();
  });

  function showPluses() {
    refreshCritques("Plus", "<%=params[:instructor_code]%>");
    $("body div.innerNav span").css('font-weight', 200);
    $("body div.innerNav span").css('color', '#808080');
    $("body div.innerNav span:nth-child(1)").css('font-weight', 800);
    $("body div.innerNav span:nth-child(1)").css('color', '#606060');

    $("#negative_critiques").hide("fast");
    $("#recent_critiques").hide("fast");
    $("#positive_critiques").show("slow");

    $("#negative_submit_btn").hide("fast");
    $("#positive_submit_btn").show("slow");

    $("#positive_submit_btn").css("float","none");
    $("#positive_submit_btn").css("text-align","center");
    $("#positive_submit_btn").css("display","inline-block");

    $("textarea#comment").attr("placeholder", "What do you like about <%= instructor_name %>'s teaching?");
  }

  function showNegs() {
    refreshCritques("Minues", "<%=params[:instructor_code]%>");
    $("body div.innerNav span").css('font-weight', 200);
    $("body div.innerNav span").css('color', '#808080');
    $("body div.innerNav span:nth-child(2)").css('font-weight', 800);
    $("body div.innerNav span:nth-child(2)").css('color', '#606060');

    $("#positive_critiques").hide("fast");
    $("#recent_critiques").hide("fast");
    $("#negative_critiques").show("slow");


    $("#positive_submit_btn").hide("fast");
    $("#negative_submit_btn").show("slow");

    $("#negative_submit_btn").css("float","none");
    $("#negative_submit_btn").css("text-align","center");
    $("#negative_submit_btn").css("display","inline-block");

    $("textarea#comment").attr("placeholder", "What do you dislike about <%= instructor_name %>'s teaching?");
  }

  function showRecent() {
    refreshCritques("Recent", "<%=params[:instructor_code]%>");
    $("body div.innerNav span").css('font-weight', 200);
    $("body div.innerNav span").css('color', '#808080');
    $("body div.innerNav span:nth-child(3)").css('font-weight', 800);
    $("body div.innerNav span:nth-child(3)").css('color', '#606060');

    $("#positive_critiques").hide("fast");
    $("#negative_critiques").hide("fast");
    $("#recent_critiques").show("slow");


    $("#positive_submit_btn").show("fast");
    $("#negative_submit_btn").show("show");


    $("#positive_submit_btn").css("float","left");
    $("#negative_submit_btn").css("float","right");

    $("textarea#comment").attr("placeholder", "What do you like or dislike about <%= instructor_name %>'s teaching?");
  }

</script>

<div class="container feedback-list col-md-6 col-md-offset-3" id="give_feedback_container">
  <center><h1><%= instructor_name + " " +user.lname[0,1].capitalize + "." %></h1></center>
  <center><h3 class="class_name"><%= code.try(:title).titlecase %></h3></center>
  <div class="innerNav">
    <span class="hoverUnderline" onclick="showPluses();">Pluses</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hoverUnderline" onclick="showNegs();">Minuses</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hoverUnderline" onclick="showRecent();">Recent</span>
  </div>

  <div id="positive_critiques">
    <% @plus_critiques.each do |crit| %>
      <%= render 'pages/critique', crit:crit %>
    <% end %>
  </div>

  <div id="negative_critiques">
    <% @neg_critiques.each do |crit| %>
      <%= render 'pages/critique', crit:crit %>
    <% end %>
  </div>

  <div id="recent_critiques">
    <% @critiques.each do |crit| %>
      <%= render 'pages/critique', crit:crit %>
    <% end %>
  </div>
</div>

<footer class="footer">
  <div class="container col-md-6 col-md-offset-3">
    <%= form_tag("/submit_feedback/#{params[:instructor_code]}", method: "post", remote: true) do %>
      <%= text_area_tag(:instructor_code, nil, name: 'comment', id:"comment", rows: "2", maxlength: "200", class: "form-control", required: true, placeholder: "What do you like or dislike about #{instructor_name}'s teaching?") %><span class="comment_error error_text"></span>
      <br />
      <%= submit_tag '+', name: 'positive', id:'positive_submit_btn' %>
      <%= submit_tag '-', name: 'negative', id:'negative_submit_btn' %>
    <% end %>
  </div>
</footer>