<div class="container feedback-list">
<% @critiques.each do |crit| %>
    <% if crit.positive %>
      <div class="positive_comment comment">
    <% else %>
      <div class="negative_comment comment">
    <% end %>
      <%= "#{crit.comment}" %><br />
      <%= "votes: #{get_votes_for_critique_id crit.id}" %>
      <span>
        <% vote_lookup = get_vote_for_critique_id crit.id %>
        <% if vote_lookup && vote_lookup.upvote %>
          <span class="voteArrow">↑</span>
          <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
            <%= hidden_field_tag(:upvote, false) %>
            <%= hidden_field_tag(:critique_id, crit.id) %>
            <span onclick="$(this).parents('form:first').submit();" class="voteArrow">↓</span>
          <% end %>
        <% elsif vote_lookup && !vote_lookup.upvote %>
          <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
            <%= hidden_field_tag(:upvote, true) %>
            <%= hidden_field_tag(:critique_id, crit.id) %>
            <span onclick="$(this).parents('form:first').submit();" class="voteArrow">↑</span>
          <% end %>
          <span class="voteArrow">↓</span>
        <% else %>
          <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
            <%= hidden_field_tag(:upvote, true) %>
            <%= hidden_field_tag(:critique_id, crit.id) %>
            <span onclick="$(this).parents('form:first').submit();" class="voteArrow">↑</span>
          <% end %>
          <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
            <%= hidden_field_tag(:upvote, false) %>
            <%= hidden_field_tag(:critique_id, crit.id) %>
            <span onclick="$(this).parents('form:first').submit();" class="voteArrow">↓</span>
          <% end %>
        <% end %>
      </span>
    </div>
<% end %>
</div>
<footer class="footer">
  <div class="container">
    <%= form_tag("/submit_feedback/#{params[:instructor_code]}", method: "post") do %>
      <% instructor_name = User.find_by(user_code: params[:instructor_code]).fname.capitalize %>
      <%= text_area_tag(:instructor_code, nil, name: 'comment', size: "49x3", required: true, placeholder: "What do you like or dislike about #{instructor_name}'s teaching?") %>
      <%= hidden_field_tag(:instructor_code, params[:instructor_code]) %>
      <br />
      <%= submit_tag '+', name: 'positive', id:'positive-submit-btn' %>
      <%= submit_tag '-', name: 'negative', id:'negative-submit-btn' %>
    <% end %>
  </div>
</footer>