<% instructor_name = User.find_by(user_code: params[:instructor_code]).fname.capitalize %>
<script type="text/javascript">

$(function() {
    showRecent();
});

function showPluses() {
    $("#negative_critiques").hide("fast");
    $("#recent_critiques").hide("fast");
    $("#positive_critiques").show("slow");

    $("#negative_submit_btn").hide("fast");
    $("#positive_submit_btn").show("slow");

    $("textarea#comment").attr("placeholder", "What do you like about <%= instructor_name %>'s teaching?");
}

function showNegs() {
    $("#positive_critiques").hide("fast");
    $("#recent_critiques").hide("fast");
    $("#negative_critiques").show("slow");


    $("#positive_submit_btn").hide("fast");
    $("#negative_submit_btn").show("slow");

    $("textarea#comment").attr("placeholder", "What do you dislike about <%= instructor_name %>'s teaching?");
}

function showRecent() {
    $("#positive_critiques").hide("fast");
    $("#negative_critiques").hide("fast");
    $("#recent_critiques").show("slow");


    $("#positive_submit_btn").show("fast");
    $("#negative_submit_btn").show("show");

    $("textarea#comment").attr("placeholder", "What do you like or dislike about <%= instructor_name %>'s teaching?");
}
</script>

<div class="container feedback-list col-md-6 col-md-offset-3">
    <center><h1><%= instructor_name + " " + User.find_by(user_code: params[:instructor_code]).lname[0,1].capitalize + "." %></h1></center>
    <div class="innerNav">
        <span class="hoverUnderline" onclick="showPluses();">Pluses</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hoverUnderline" onclick="showNegs();">Minuses</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hoverUnderline" onclick="showRecent();">Recent</span>
    </div>
    <div id="positive_critiques">
        <% @plus_critiques.each do |crit| %>
            <div class="positive_comment comment">
                <span class="comment-text"><%= "#{crit.comment}" %></span>
                <% vote_lookup = get_vote_for_critique_id crit.id %>
                <% if vote_lookup && vote_lookup.upvote %>
                    <div class="arrows">
                        <div class="voteArrow upArrow">▲</div>
                        <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow upArrow">▼</div>
                        <% end %>
                    </div>
                <% elsif vote_lookup && !vote_lookup.upvote %>
                    <div class="arrows">
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow upArrow">▲</div>
                        <% end %>
                        <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                        <div class="voteArrow downArrow">▼</div>
                    </div>
                <% else %>
                    <div class="arrows">
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow upArrow">▲</div>
                        <% end %>
                        <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow downArrow">▼</div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>    
    <div id="negative_critiques">
        <% @neg_critiques.each do |crit| %>
            <div class="negative_comment comment">
                <span class="comment-text"><%= "#{crit.comment}" %></span>
                <% vote_lookup = get_vote_for_critique_id crit.id %>
                <% if vote_lookup && vote_lookup.upvote %>
                    <div class="arrows">
                        <div class="voteArrow upArrow">▲</div>
                        <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow downArrow">▼</div>
                        <% end %>
                    </div>
                <% elsif vote_lookup && !vote_lookup.upvote %>
                    <div class="arrows">
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow upArrow">▲</div>
                        <% end %>
                        <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                        <div class="voteArrow downArrow">▼</div>
                    </div>
                <% else %>
                    <div class="arrows">
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow upArrow">▲</div>
                        <% end %>
                        <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow downArrow">▼</div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
    <div id="recent_critiques">
        <% @critiques.each do |crit| %>
            <% if crit.positive %>
            <div class="positive_comment comment">
            <% else !crit.positive %>
            <div class="negative_comment comment">
            <% end %>
                <span class="comment-text"><%= "#{crit.comment}" %></span>
                <% vote_lookup = get_vote_for_critique_id crit.id %>
                <% if vote_lookup && vote_lookup.upvote %>
                    <div class="arrows">
                        <div class="voteArrow upArrow">▲</div>
                        <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow upArrow">▼</div>
                        <% end %>
                    </div>
                <% elsif vote_lookup && !vote_lookup.upvote %>
                    <div class="arrows">
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow upArrow">▲</div>
                        <% end %>
                        <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                        <div class="voteArrow downArrow">▼</div>
                    </div>
                <% else %>
                    <div class="arrows">
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow upArrow">▲</div>
                        <% end %>
                        <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                        <%= form_tag("/submit_vote/#{params[:instructor_code]}", method: "post", class:"inline") do %>
                            <%= hidden_field_tag(:upvote, true) %>
                            <%= hidden_field_tag(:critique_id, crit.id) %>
                            <div onclick="$(this).parents('form:first').submit();" class="voteArrow upArrow">▼</div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>  
</div>
<footer class="footer">
    <div class="container col-md-6 col-md-offset-3">
        <%= form_tag("/submit_feedback/#{params[:instructor_code]}", method: "post") do %>
            <%= text_area_tag(:instructor_code, nil, name: 'comment', id:"comment", rows: "2", class: "form-control", required: true, placeholder: "What do you like or dislike about #{instructor_name}'s teaching?") %>
            <%= hidden_field_tag(:instructor_code, params[:instructor_code]) %>
            <br />
            <%= submit_tag '+', name: 'positive', id:'positive_submit_btn' %>
            <%= submit_tag '-', name: 'negative', id:'negative_submit_btn' %>
        <% end %>
    </div>
</footer>