<div class="container feedback-list">
<% @critiques.each do |crit| %>
    <% if crit.positive %>
        <div class="positive_comment comment">
    <% else %>
        <div class="negative_comment comment">
    <% end %>
    <%= crit.positive ? '(+)' : '(-)' %>
    <%= "#{crit.comment}" %><br />
    <%= "votes: #{crit.votes}" %>
    </div>
<% end %>
</div>
<footer class="footer">
  <div class="container">
    <%= form_tag("/submit_feedback/#{params[:instructor_code]}", method: "post") do %>
      <%= text_area_tag(:instructor_code, nil, name: 'comment', size: "49x3", required: true, placeholder: 'What do you like or dislike?') %>
      <%= hidden_field_tag(:instructor_code, params[:instructor_code]) %>
      <br />
      <%= submit_tag '+', name: 'positive', id:'positive-submit-btn' %>
      <%= submit_tag '-', name: 'negative', id:'negative-submit-btn' %>
    <% end %>
  </div>
</footer>