<p id="notice"><%= notice %></p>

<h1>Critiques</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Votes</th>
      <th>Author</th>
      <th>Receiver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @critiques.each do |critique| %>
      <tr>
        <td><%= critique.comment %></td>
        <td><%= critique.votes %></td>
        <td><%= critique.author_id %></td>
        <td><%= critique.receiver_id %></td>
        <td><%= link_to 'Show', critique %></td>
        <td><%= link_to 'Edit', edit_critique_path(critique) %></td>
        <td><%= link_to 'Destroy', critique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critique', new_critique_path %>
