<script type="text/javascript">
$(function() {
    showPluses();
});

function showPluses() {
    refreshCritques("Plus", "<%=params[:instructor_code]%>");
    $("#negative_critiques").hide("fast");
    $("#recent_critiques").hide("fast");
    $("#positive_critiques").show("slow");

    $("#negative_submit_btn").hide("fast");
    $("#positive_submit_btn").show("slow");
}

function showNegs() {
    refreshCritques("Minuses", "<%=params[:instructor_code]%>");
    $("#positive_critiques").hide("fast");
    $("#recent_critiques").hide("fast");
    $("#negative_critiques").show("slow");


    $("#positive_submit_btn").hide("fast");
    $("#negative_submit_btn").show("slow");
}

function showRecent() {
    refreshCritques("Recent", "<%=params[:instructor_code]%>");
    $("#positive_critiques").hide("fast");
    $("#negative_critiques").hide("fast");
    $("#recent_critiques").show("slow");


    $("#positive_submit_btn").show("fast");
    $("#negative_submit_btn").show("show");
}
</script>
</script>

<div id="my_feedback_container" class="container">
    <div class="row">
        <div class="feedback-list col-md-8 col-md-offset-2">
            <center><h3>My Feedback</h3></center>
            <div class="innerNav">
                <span class="hoverUnderline" onclick="showPluses();">Pluses</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hoverUnderline" onclick="showNegs();">Minuses</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hoverUnderline" onclick="showRecent();">Recent</span>
            </div>
            <div id="positive_critiques">
                <% @plus_critiques.each do |crit| %>
                    <div class="positive_comment comment">
                        <span class="comment-text"><%= "#{crit.comment}" %></span>
                        <div class="arrows">
                            <div class="voteArrow"><span class="glyphicon glyphicon-menu-up"></span></div>
                            <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                            <div class="voteArrow"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div id="negative_critiques">
                <% @neg_critiques.each do |crit| %>
                    <div class="negative_comment comment">
                        <span class="comment-text"><%= "#{crit.comment}" %></span>
                        <div class="arrows">
                            <div><span class="glyphicon glyphicon-menu-up"></span></div>
                            <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                            <div class="voteArrow"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div id="recent_critiques">
                <% @critiques.each do |crit| %>
                    <% if crit.positive %>
                    <div class="positive_comment comment">
                    <% else !crit.positive %>
                    <div class="negative_comment comment">
                    <% end %>
                        <span class="comment-text"><%= "#{crit.comment}" %></span>
                        <div class="arrows">
                            <div class="voteArrow"><span class="glyphicon glyphicon-menu-up"></span></div>
                            <div class="votes_number"><%= get_votes_for_critique_id crit.id %></div>
                            <div class="voteArrow"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>