<script type="text/javascript">
$(function() {
    showPluses();
});

function showPluses() {
    $("#negative_critiques").hide("fast");
    $("#recent_critiques").hide("fast");
    $("#positive_critiques").show("slow");

    $("#negative-submit-btn").hide("fast");
    $("#positive-submit-btn").show("slow");
}

function showNegs() {
    $("#positive_critiques").hide("fast");
    $("#recent_critiques").hide("fast");
    $("#negative_critiques").show("slow");


    $("#positive-submit-btn").hide("fast");
    $("#negative-submit-btn").show("slow");
}

function showRecent() {
    $("#positive_critiques").hide("fast");
    $("#negative_critiques").hide("fast");
    $("#recent_critiques").show("slow");


    $("#positive-submit-btn").show("fast");
    $("#negative-submit-btn").show("show");
}
</script>
</script>

<div class="container feedback-list col-md-6 col-md-offset-3">
    <center><h3>My Feedback</h3></center>
    <div class="innerNav">
        <span class="hoverUnderline" onclick="showPluses();">Pluses</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hoverUnderline" onclick="showNegs();">Minuses</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hoverUnderline" onclick="showRecent();">Recent</span>
    </div>
    <div id="positive_critiques">
        <% @plus_critiques.each do |crit| %>
            <div class="positive_comment comment">
                <%= "#{crit.comment}" %><br />
                <%= "votes: #{get_votes_for_critique_id crit.id}" %>
            </div>
        <% end %>
    </div>    
    <div id="negative_critiques">
        <% @neg_critiques.each do |crit| %>
            <div class="negative_comment comment">
                <%= "#{crit.comment}" %><br />
                <%= "votes: #{get_votes_for_critique_id crit.id}" %>
            </div>
        <% end %>
    </div>
    <div id="recent_critiques">
        <% @critiques.each do |crit| %>
            <% if crit.positive %>
            <div class="positive_comment comment">
            <% else !crit.positive %>
            <div class="negative_comment comment">
            <% end %>
                <%= "#{crit.comment}" %><br />
                <%= "votes: #{get_votes_for_critique_id crit.id}" %>
            </div>
        <% end %>
    </div>
</div>